
    <h1>Bé tập tính</h1>
    <form actcion="" method="POST">
    <div id="left">
    <div id="d1">
        <label for="số thứ nhất">Số thứ nhất:</label><br><br>
        <label for="số thứ hai">Số thứ hai:</label><br><br>
        <label for="result">Kết quả</laber><br><br>
        <label>Thông báo</label>
    </div>
    <div id="d2">
        <input type="text" name="Num1" id="số thứ nhất" value=""><br><br>
        <input type="text" name="Num2"id="số thứ hai" value=""><br><br>
        <input type="text" name="result"id="result" value=""><br><br>
        <p  style="margin-top: 11px;"id='thongbao'></p>
    </div>
    </div>
    <div id="right">
    <div id="d3">
        <input type="radio" name="Cacul" id="operator_plus" value="Plus"/>
        <label for="operator_plus">cộng</label>
        <br>
        <br>
        <input type="radio" name="Cacul" id="operator_Subtraction" value="Sub"/>
        <label for="operator_Subtraction">trừ</label>
        <br>
        <br>
        <button id="submit"type="submit">Tính</button> 
    </div>
    <div id="d4">
        <input type="radio" name="Cacul" id="operator_multiplication"/ value="Mul">
        <label for="operator_multiplication">nhân</label>
        <br>
        <br>
        <input type="radio" name="Cacul" id="operator_division"/ value="Div">
        <label for="operator_division">chia</label>
    </div>
    </div>
    </form>
    